.graph {
}

.tooltip {
  font-size: 12px;
  background: #1B3B5A;
  border: 1px solid rgba(27, 240, 173, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
  pointer-events: none;
  position: absolute;
  display: block;
  min-width: 50px;
  height: auto;
  padding: 4px 10px 4px 10px;
  text-align: left;
  line-height: 1.3;
  color: #5B6770;
}

.graph line {
  stroke: rgba(224, 224, 224, 0.1);
  font-size: 13px; 
  font-family: var(--roboto);
}

.graph text {
  font-size: 13px; 
  font-family: var(--roboto);
}

.side {
  position: relative;
  right: 50px;
}

